@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ddd;
    --foreground: #555;
  }
}
.excon {
  font-family: "Excon";
}
.inter {
  font-family: "Inter";
}
h1 {
  font-family: "Excon";
  font-weight: 900;
  font-size: 30px;
}
h2 {
  font-weight: bold;
}
p {
  font-family: "Inter";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 100 700;
  font-optical-sizing: 18;
  font-style: normal;
}
@font-face {
  font-family: "Excon";
  src: url("fonts/Excon-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
